base:
  namespace: istio-system
istiod:
  namespace: istio-system
  meshConfig:
    rootNamespace: istio-system
  multiCluster:
    enabled: true
    clusterName: core-services
  network: core-services
  meshNetworks:
    core-services:
      endpoints:
      - fromCidr: "10.10.0.0/16"
      gateways:
      - registryServiceName: istio-ingressgateway.istio-ingress.svc.cluster.local
        port: 443
    # east-prod:
    #   endpoints:
    #   - fromCidr: "10.100.0.0/16"
    # west-prod:
    #   endpoints:
    #   - fromCidr: "10.200.0.0/16"
  pilot:
    tolerations:
    - key: "node_type"
      operator: "Equal"
      value: "system"
      effect: "NoSchedule"
cert-manager:
  featureGates: "ExperimentalCertificateSigningRequestControllers=true"
cert-manager-istio-csr:
  namespace: istio-system
  tls:
    rootCAFile: /etc/tls/ca-cert.pem
  volumes:
  - name: root-ca
    secret:
      secretName: istio-ca-secret
  volumeMounts:
  - name: root-ca
    mountPath: /etc/tls
gateway:
  name: istio-ingressgateway
  labels:
    app: istio-ingressgateway
    istio: ingressgateway
